<div class="area">
</div>

<nav id="main-menu">
  <div>
    <button (click)="navbarToggle()">
      <i class="material-icons s" id="menu">menu</i>
      <i class="material-icons s" id="close">close</i>
    </button>
  </div>
  <hr class="line-1">
  <ul>
    <li>
      <a routerLink="/">
        <i class="material-icons s ">home</i>
        <span class="nav-text">
          Início
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="material-icons s ">view_agenda</i>
        <span class="nav-text">
          Link 1
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="material-icons s ">work</i>
        <span class="nav-text">
          Link 2
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="material-icons s">description</i>
        <span class="nav-text">
          Link 3
        </span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class="material-icons s">add</i>
        <span class="nav-text">
          Link 4
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons s">edit</i>
        <span class="nav-text">
          Link 5
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons s ">delete</i>
        <span class="nav-text">
          Link 6
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons s ">bookmarks</i>
        <span class="nav-text">
          Link 7
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons s ">info</i>
        <span class="nav-text">
          Link 8
        </span>
      </a>
    </li>
  </ul>


  <ul class="options">
    <hr>

    <li>
      <a href="#">
        <i class="material-icons s">settings</i>
        <span class="nav-text">
          Configurações
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons s ">logout</i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>